* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #1fa0ff, #12dafb, #a7fdcc);
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
